#clock {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#clock span {
    font-family: Century Gothic, sans-serif;
    font-size: 50px;
}