#form {
    width: 600px;
    height: 600px;
    position: absolute;
    border: 1px solid #dddddd;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#heading {
    text-align: center;
    height: 40px;
    padding-top: 20px;
    font-size: 20px;
    border-bottom: 1px solid;
}

.fields, .summary-fields {
    padding: 20px 20px 0 20px
}

.fields > div {
    display: inline-block;
}

.fields > div, .summary-fields {
    margin-right: 40px;
}

.fields > div:last-of-type {
    margin-right: 0;
}

.warning {
    border-color: red;
}

.message {
    visibility: hidden;
    color: red;
}

#buttons {
    height: 50px;
    text-align: center;
    margin-top: 150px;
}

.summary-fields > div {
    margin-top: 10px;
}

